ul {
  &.ul {
    li {
      list-style: disc;
    }
  }
}

ol {
  &.ol {
    li {
      list-style: decimal;
    }
  }
  &.alpha {
    li {
      list-style: lower-alpha;
    }
  }
}

.hidden-area {
  display: none;
}